@use 'variables' as *;
@use 'mixins';

.basket {
	gap: 2rem;
	box-sizing: content-box;
	height: 100%;
	overflow-x: hidden;
	max-height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
		url(../images/Fons/Fon_Preview.jpg);
	background-position: center;
	background-size: contain;
	@media (max-width: 1420px) {
		box-sizing: border-box;
		width: 100vw;

		padding: 5px;
		gap: 0.5rem;
	}

	@media (max-width: 450px) {
		height: 100vh;
	}

	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		background: rgba(0, 0, 0, 0.3);
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(255, 255, 255, 0.4);
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: rgba(255, 255, 255, 0.6);
	}

	&__button,
	&__button_save {
		width: 242px;
		@media (max-width: 450px) {
			width: 150px;
		}
	}

	&__list {
		padding: 0;
		margin: 0;
		flex-grow: 1;
		margin-bottom: 60px;
	}

	&__item {
		display: flex;

		padding: 0.45rem 0;
		background-color: transparent;
		align-items: center;
		border-radius: 0;
		gap: 15px;
		@media (max-width: 1420px) {
			box-sizing: content-box;
			overflow-y: auto;
			gap: 10px;
		}

		&-index {
			@include mixins.flex(row);
			justify-content: center;
			align-items: center;
			font-size: 1.5rem;

			height: 55px;
			border-radius: 50%;
			color: white;

			@media (max-width: 450px) {
				position: absolute;
				opacity: 0;
			}
		}

		&-delete {
			@include mixins.icon(2rem, 'trash');
			@include mixins.link($hover, white);
			opacity: 0.5;
			margin-left: 4rem;
			@media (max-width: 450px) {
				margin-left: 0px;
			}
		}
		.card__price_basket {
			@media (max-width: 450px) {
				position: absolute;
				opacity: 0;
			}
		}
		.card__title {
			white-space: normal;
			font-size: 18px;
			display: block;
			width: 4em;

			@media (max-width: 450px) {
				position: absolute;
				opacity: 0;
			}
		}
		.volume-control {
			max-width: 0px;

			.button {
				opacity: 0;
			}
		}
	}
	.card__image {
		max-height: 260px;
		@media (max-width: 450px) {
			max-width: 96vw;
			max-height: 189px;
		}
	}
	.card__image_tehlist {
		@media (max-width: 450px) {
			max-width: 50%;
		}
	}
	.img__machine {
		max-height: 500px;
	}
}
.basket_buttons {
	display: flex;
}

.button_save {
	background: none;
	border: none;
	padding-inline: 10px;
	cursor: pointer;
}

.button_save:disabled {
	cursor: not-allowed;
}

.floppy-image {
	width: 50px;
	@media (max-width: 450px) {
		width: 35px;
	}
}

.input_limit::placeholder {
	border-radius: 3px;
	opacity: 1;
	font-size: 13px;
	@media (max-width: 450px) {
		font-size: 12px;
	}
}

.input_limit:focus {
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input_limit.active {
	display: flex;
}

.input_limit {
	height: 16px;
	padding: 10px 16px;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
	outline: none;
	transition: border-color 0.2s ease;
	width: 150px; /* Фиксированная ширина для аккуратности */
	@media (max-width: 450px) {
		font-size: 14px;
		width: 85px;
		padding: 5px 10px;
		height: 25px;
	}
}

.button_limit {
	padding: 9px 11px;
	color: #000000;
	border: none;
	border-radius: 6px;
	font-size: 18px;
	cursor: pointer;
	transition: opacity 0.2s ease, transform 0.1s ease;
}

.button_limit:hover:not(:disabled) {
	opacity: 0.8;
}

.button_limit:active:not(:disabled) {
	transform: translateY(1px); /* Эффект нажатия */
}

.button_limit:disabled {
	background-color: #58585856;
	color: #b0b0b0;
	cursor: not-allowed;
}

.header_basket {
	display: flex;
	justify-content: space-between;
	@media (max-width: 450px) {
		flex-direction: column;
	}
}
.form_limit {
	display: flex;
	gap: 2px;
	margin-right: 10px;
	margin-top: 10px;
	align-items: center;
	@media (max-width: 450px) {
		font-size: 14px;
		margin-top: 5px;
	}
}
