@use 'variables' as *;
@use 'mixins';

.basket {
	gap: 2rem;
	height: 100%;
	@media (max-width: 1420px) {
		box-sizing: border-box;
		width: 100vw;
		height: 100vh;
		padding: 5px;
		gap: 0.5rem;
	}

	&__list {
		padding: 0;
		margin: 0;
		flex-grow: 1;
		@media (max-width: 450px) {
			background-color: black;
			padding-bottom: 50px;
		}
	}

	&__item {
		display: flex;

		padding: 0.45rem 0;
		background-color: transparent;
		align-items: center;
		border-radius: 0;
		gap: 20px;
		@media (max-width: 450px) {
			box-sizing: content-box;
			overflow-y: auto;
			gap: 10px;
		}

		&-index {
			@include mixins.flex(row);
			justify-content: center;
			align-items: center;
			font-size: 1.5rem;
			width: 55px;
			height: 55px;
			border-radius: 50%;
			color: white;
			margin-right: 1rem;
			@media (max-width: 450px) {
				position: absolute;
				opacity: 0;
			}
		}

		&-delete {
			@include mixins.icon(2rem, 'trash');
			@include mixins.link($hover, white);
			opacity: 0.5;
			margin-left: 4rem;
			@media (max-width: 450px) {
				margin-left: 0px;
			}
		}
		.card__price_basket {
			@media (max-width: 450px) {
				position: absolute;
				opacity: 0;
			}
		}
		.card__title {
			@media (max-width: 450px) {
				position: absolute;
				opacity: 0;
			}
		}
	}
	.card__image {
		max-height: 300px;
		@media (max-width: 450px) {
			max-width: 98%;
			max-height: 189px;
		}
	}
	.card__image_tehlist {
		@media (max-width: 450px) {
			max-width: 50%;
		}
	}
	.img__machine {
		max-height: 500px;
	}
}
