@use 'variables' as *;
@use 'mixins';

.basket {
	gap: 2rem;
	box-sizing: content-box;
	height: 100%;
	overflow-x: hidden;
	max-height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
		url(../images/Fons/Fon_Preview.jpg);
	background-position: center;
	background-size: contain;
	@media (max-width: 1420px) {
		box-sizing: border-box;
		width: 100vw;

		padding: 5px;
		gap: 0.5rem;
	}

	@media (max-width: 450px) {
		height: 100vh;
	}

	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		background: rgba(0, 0, 0, 0.3);
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(255, 255, 255, 0.4);
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: rgba(255, 255, 255, 0.6);
	}

	&__button,
	&__button_save {
		width: 242px;
		@media (max-width: 450px) {
			width: 150px;
		}
	}

	&__list {
		padding: 0;
		margin: 0;
		flex-grow: 1;
		margin-bottom: 60px;
	}

	&__item {
		display: flex;

		padding: 0.45rem 0;
		background-color: transparent;
		align-items: center;
		border-radius: 0;
		gap: 15px;
		@media (max-width: 1420px) {
			box-sizing: content-box;
			overflow-y: auto;
			gap: 10px;
		}

		&-index {
			@include mixins.flex(row);
			justify-content: center;
			align-items: center;
			font-size: 1.5rem;

			height: 55px;
			border-radius: 50%;
			color: white;

			@media (max-width: 450px) {
				position: absolute;
				opacity: 0;
			}
		}

		&-delete {
			@include mixins.icon(2rem, 'trash');
			@include mixins.link($hover, white);
			opacity: 0.5;
			margin-left: 4rem;
			@media (max-width: 450px) {
				margin-left: 0px;
			}
		}
		.card__price_basket {
			@media (max-width: 450px) {
				position: absolute;
				opacity: 0;
			}
		}
		.card__title {
			white-space: normal;
			font-size: 18px;
			display: block;
			width: 4em;

			@media (max-width: 450px) {
				position: absolute;
				opacity: 0;
			}
		}
		.volume-control {
			max-width: 0px;

			.button {
				opacity: 0;
			}
		}
	}
	.card__image {
		max-height: 260px;
		@media (max-width: 450px) {
			max-width: 96vw;
			max-height: 189px;
		}
	}
	.card__image_tehlist {
		@media (max-width: 450px) {
			max-width: 50%;
		}
	}
	.img__machine {
		max-height: 500px;
	}
}
.basket_buttons {
	display: flex;
}

.button_save {
	background: none;
	border: none;
	padding-inline: 10px;
	cursor: pointer;
}

.floppy-image {
	width: 50px;
	@media (max-width: 450px) {
		width: 30px;
	}
}
