@use 'variables' as *;
@use 'mixins';

html {
	scroll-behavior: smooth;
}

.card {
	@include mixins.flex(column);
	border: 0;
	border-radius: 1rem;
	background-color: $primary;

	color: white;
	padding: 10px 5px;
	gap: 10px;
	align-items: center;
	cursor: pointer;
	@media (max-width: 450px) {
		padding: 7px 2px;
		gap: 5px;
	}

	&_tehList {
		display: grid;
		gap: 10px;
		grid-template-rows: min-content 1fr;
		grid-template-columns: min-content 1fr min-content;
		@media (max-width: 730px) {
			width: 100vw;
			box-sizing: border-box;
		}
		@media (max-width: 450px) {
			padding: 0px;
			width: 100vw;
			height: 100vh;
			justify-content: center;
			grid-template-rows: min-content min-content min-content;
			grid-template-columns: min-content min-content;
			gap: 10px 10px;
		}

		.directory {
			transform: translateX(-15px);
			transition: opacity 0.3s ease, transform 0.3s ease;
			width: 200px;
			padding: 5px;
			font-size: 16px;
			left: 800px;
			top: 150px;
			@media (max-width: 450px) {
				font-size: 14px;
				left: 5vw;
				top: 67vh;
				transform: translateY(-15px);
				width: 320px;
			}
		}

		.directory.show {
			transform: translateX(15px);
			transition: opacity 0.3s ease, transform 0.3s ease;
			left: 800px;
			top: 150px;
			@media (max-width: 450px) {
				left: 5vw;
				top: 67vh;
				transform: translateY(15px);
				width: 320px;
			}
		}

		.card__title {
			align-self: start;
			justify-self: end;
			@media (max-width: 450px) {
				margin-top: 50px;
				grid-column: 2;
				grid-row: 1;
				align-self: end;
				min-height: 0px;
			}
		}
		.card__row {
			grid-column: 3;
			grid-row: 2;
			align-self: end;
			@media (max-width: 450px) {
				position: fixed;
				bottom: 5vh;
				left: 5vw;
			}
		}

		.gallery_marker__image {
			position: absolute;
			width: 50px;
			right: 53%;
			top: 5%;
			display: block;

			@media (max-width: 450px) {
				right: 46%;
				top: 2%;
			}
		}

		.gallery_marker__title {
			display: none;
			position: absolute;
			right: 45%;
			top: 5%;
			max-width: 100px;
			background-color: rgba(0, 0, 0, 0.7);
			color: white;
			padding: 5px;
			font-size: 15px;
			z-index: 2;
			@media (max-width: 450px) {
				right: 15%;
				top: 0%;
			}
		}

		.card__category {
			grid-column: 2;
			grid-row: 1;
			@media (max-width: 450px) {
				justify-self: start;
				align-self: end;
				grid-column: 1;
				grid-row: 1;
			}
		}
		.card__image {
			grid-row: 2 / 3;
			grid-column: 1 / 2;
			max-height: 300px;
			@media (max-width: 450px) {
				justify-self: center;
				max-width: 90vw;
				max-height: 70vh;
				height: auto;
				grid-row: 2;
				grid-column: 1 / 3;
			}
		}
	}

	&_tehList_wheels {
		display: grid;
		gap: 10px;
		grid-template-rows: min-content 1fr;
		grid-template-columns: min-content 1fr min-content;
		@media (max-width: 730px) {
			width: 100vw;
			box-sizing: border-box;
		}
		@media (max-width: 450px) {
			height: 100vh;
			padding-top: 5px;
			justify-content: center;
			grid-template-rows: min-content min-content min-content 0.9fr;
			grid-template-columns: min-content min-content;
			gap: 15px 10px;
			padding: 0px;
		}

		.card__image {
			grid-row: 2 / 3;
			grid-column: 1 / 2;
			max-height: 300px;
			@media (max-width: 450px) {
				max-width: 90vw;
				align-self: start;
				max-height: 100%;
				grid-row: 2;
				grid-column: 1 / 3;
			}
		}

		.card__title {
			align-self: center;
			justify-self: end;
			@media (max-width: 450px) {
				margin-top: 50px;
				grid-column: 2;
				grid-row: 1;
				align-self: end;
				min-height: 0px;
			}
		}

		.card__row {
			grid-column: 3;
			grid-row: 2;
			align-self: end;
			@media (max-width: 450px) {
				position: fixed;
				bottom: 5vh;
				left: 5vw;
			}
		}

		.gallery_marker__image {
			position: absolute;
			width: 50px;
			right: 53%;
			top: 5%;
			display: block;

			@media (max-width: 450px) {
				right: 46%;
				top: 2%;
			}
		}

		.gallery_marker__title {
			display: none;
			position: absolute;
			right: 45%;
			top: 5%;
			max-width: 100px;
			background-color: rgba(0, 0, 0, 0.7);
			color: white;
			padding: 5px;
			font-size: 15px;
			z-index: 2;
			@media (max-width: 450px) {
				right: 15%;
				top: 0%;
			}
		}

		.card__category {
			grid-column: 2;
			grid-row: 1;
			@media (max-width: 450px) {
				justify-self: start;
				align-self: end;
				grid-column: 1;
				grid-row: 1;
			}
		}

		.wheels_box {
			grid-column: 2;
			grid-row: 2;
			padding-left: 20px;
			cursor: pointer;
			align-self: center;
			@media (max-width: 450px) {
				justify-self: start;

				padding-left: 0px;
				grid-column: 2;
				grid-row: 3;
			}
		}
	}

	&_fighting_machine {
		display: grid;
		gap: 10px;
		grid-template-rows: min-content min-content min-content;
		grid-template-columns: 1fr 1fr;
		@media (max-width: 730px) {
			width: 100vw;
			box-sizing: border-box;
		}
		@media (max-width: 450px) {
			height: 100vh;
			box-sizing: border-box;

			border-radius: 0%;

			gap: 5px 10px;
			padding-block: 5px;
			padding: 0px;
		}

		.gallery_marker__image {
			position: absolute;
			width: 50px;
			right: 47%;
			top: 5%;
			display: block;

			@media (max-width: 450px) {
				right: 4%;
				top: 8%;
			}
		}

		.gallery_marker__title {
			display: none;
			position: absolute;
			right: 40%;
			top: 5%;
			max-width: 100px;
			background-color: rgba(0, 0, 0, 0.7);
			color: white;
			padding: 5px;
			font-size: 15px;
			z-index: 2;
			@media (max-width: 450px) {
				right: 15%;
				top: 0%;
			}
		}

		.card__image {
			grid-row: 2 / 3;
			grid-column: 1 / 2;
			justify-self: end;
			max-width: 300px;
			@media (max-width: 450px) {
				max-width: 80vw;
				grid-row: 2;
				grid-column: 1 / 3;
				justify-self: center;
			}
			@media (max-height: 740px) {
				max-width: 70vw;
			}
			@media (max-height: 670px) {
				max-width: 55vw;
			}
		}

		.card__title {
			justify-self: end;
			flex-grow: 0;
			@media (max-width: 450px) {
				margin-top: 10px;
				grid-column: 2;
				grid-row: 1;
				justify-self: start;
				align-self: end;
				min-height: 0px;
				max-width: 70px;
			}
		}
		.weapons-list {
			grid-column: 2;
			grid-row: 2;
			@media (max-width: 450px) {
				display: grid;
				grid-template-rows: min-content min-content 0.95fr;
				grid-template-columns: 1fr 1fr;
				justify-self: center;
				grid-column: 1 / 3;
				grid-row: 3;
				gap: 5px;
			}
		}
		.weapon_title {
			font-size: 15px;

			@media (max-width: 450px) {
				font-size: 14px;
				padding-inline: 2px;
				text-align: center;
			}
		}
		.card__category {
			grid-column: 2;
			grid-row: 1;
			text-align: center;
			@media (max-width: 450px) {
				padding: 6px;
				height: 20px;
				justify-self: center;
				align-self: end;
				grid-column: 1;
				grid-row: 1;
			}
		}
		.card__row {
			grid-column: 3;
			grid-row: 2;
			align-self: end;
			@media (max-width: 450px) {
				position: fixed;
				bottom: 3vh;
				left: 5vw;
			}
			@media (max-height: 740px) {
				left: 50vw;
				gap: 2vw;
			}
		}
	}

	&_full {
		flex-direction: row;
		background-color: transparent;
		@media (max-width: 450px) {
			width: 100vw;
			padding: 0px;
		}

		.card__title {
			flex-grow: 0;
		}
	}

	&_compact {
		flex-direction: row;
		background-color: transparent;
		align-items: center;
		border-radius: 0%;

		.card__title {
			flex-grow: 1;
			text-align: end;
		}
	}

	&__column {
		display: grid;
		gap: 10px;
		grid-template-rows: min-content min-content min-content;
		grid-template-columns: 1fr 1fr;
		@media (max-width: 730px) {
			width: 100vw;
			box-sizing: border-box;
		}
		@media (max-width: 450px) {
			height: 100vh;
			border-radius: 0%;
			padding-top: 5px;
			justify-content: center;
			grid-template-rows: min-content min-content min-content 0.75fr;
			grid-template-columns: 1fr 1fr;
			gap: 20px;
			padding-inline: 5px;
			margin-top: 40px;
		}

		.directory {
			transform: translateX(-15px);
			transition: opacity 0.3s ease, transform 0.3s ease;
			width: 200px;
			padding: 5px;
			font-size: 16px;
			right: 50px;
			top: 150px;
			@media (max-width: 450px) {
				left: 5vw;
				top: 70vh;
				transform: translateY(-15px);
				font-size: 14px;
				width: 320px;
			}
		}

		.directory.show {
			transform: translateX(15px);
			transition: opacity 0.3s ease, transform 0.3s ease;
			right: 50px;
			top: 150px;
			@media (max-width: 450px) {
				left: 5vw;
				top: 70vh;
				transform: translateY(15px);
				width: 320px;
			}
		}

		.card__title {
			align-self: end;
			justify-self: end;
			@media (max-width: 450px) {
				justify-self: end;
				grid-row: 1;
				grid-column: 2;
				min-height: 0px;
			}
		}
		.card__image {
			max-width: 100%;
			grid-row: 2 / 3;
			grid-column: 1 / 2;
			@media (max-width: 450px) {
				max-width: 100%;

				grid-row: 2 / 3;
				grid-column: 1 / 3;
			}
		}
		.card__row {
			@media (max-width: 450px) {
				position: fixed;
				bottom: 5vh;
				left: 5vw;
			}
		}

		.gallery_marker__image {
			position: absolute;
			width: 50px;
			right: 32%;
			top: 5%;
			display: block;

			@media (max-width: 450px) {
				right: 46%;
				top: 2%;
			}
		}

		.gallery_marker__title {
			display: none;
			position: absolute;
			right: 20%;
			top: 5%;
			max-width: 130px;
			background-color: rgba(0, 0, 0, 0.7);
			color: white;
			padding: 5px;
			font-size: 15px;
			z-index: 2;
			@media (max-width: 450px) {
				right: 9%;
				top: 0%;
			}
		}
	}

	&__row {
		//position: relative;
		@include mixins.flex(row);
		grid-row: 4;
		grid-column: 2;
		align-items: center;
		gap: $defaultPadding;
		@media (max-width: 450px) {
			gap: 40vw;
		}
	}

	&__image {
		cursor: zoom-in;
		transition: transform 0.3s ease;
	}

	&__image.enlarged {
		transform: scale(1.5);
		cursor: zoom-out;
		@media (max-width: 450px) {
			transform: scale(1.1);
		}
	}

	&__description {
		grid-row: 2;
		grid-column: 2;
		display: flex;
		max-height: 200px;
		max-width: 50%;
		align-self: center;
		transition: transform 0.3s ease;
		cursor: zoom-in;
		@media (max-width: 450px) {
			max-width: 100%;
			height: 150px;
			margin-top: 0px;
			grid-column: 1 / 3;
			grid-row: 3;
			margin-inline: auto;
		}
	}

	&__description.enlarged {
		transform: scale(1.5);
		cursor: zoom-out;
		@media (max-width: 450px) {
			transform: scale(1.3);
		}
	}

	&__title {
		grid-row: 1;
		grid-column: 1;

		font-size: 20px;
		margin: 0px;
		@media (max-width: 450px) {
			min-height: 46px;
		}
	}
	&__category {
		grid-row: 1;
		grid-column: 2;
		max-height: 50px;
		justify-self: start;
		text-align: center;
		font-size: 12px;
		padding: 0.5rem 1.25rem;
		border-radius: 2.5rem;
		color: $primary;
		@media (max-width: 450px) {
			grid-row: 1;
			grid-column: 1;

			max-height: 20px;
		}
		&__text {
			flex-grow: 1;
		}

		&_soft {
			background-color: $category1;
		}
		&_hard {
			background-color: $category5;
		}
		&_other {
			background-color: $category2;
		}
		&_additional {
			background-color: $category3;
		}
		&_nekromant {
			background-color: $category6;
		}
		&_charodey {
			background-color: $category7;
		}
		&_button {
			background-color: $category4;
		}
		&_storonniye_AS {
			background-image: url(../images/Fons/Fon_AS.png);
			background-position: center;
			background-size: cover;
		}
		&_storonniye_NO {
			background-image: url(../images/Fons/Fon_NO.png);
			background-position: center;
			background-size: cover;
		}
		&_storonniye_VIM {
			background-image: url(../images/Fons/Fon_VIM.png);
			background-position: center;
			background-size: cover;
		}
		&_storonniye_XB {
			background-image: url(../images/Fons/Fon_XB.png);
			background-position: center;
			background-size: cover;
		}
		&_storonniye_VPM {
			background-image: url(../images/Fons/Fon_VPM.png);
			background-position: center;
			background-size: cover;
		}
		&_storonniye_LCHP {
			background-image: url(../images/Fons/Fon_LCHP.png);
			background-position: center;
			background-size: cover;
		}
		&_storonniye_B {
			background-image: url(../images/Fons/Fon_B.png);
			background-position: center;
			background-size: cover;
		}
		&_other_A1 {
			background-image: url(../images/Fons/Fon_A1.png);
			background-position: center;
			background-size: cover;
		}
	}
	&__price {
		font-size: 15px;
		font-weight: 300;
		margin-top: 15px;
		text-align: right;
		&_basket {
			font-weight: 300;
			margin-left: 45px;
		}
	}
	&__gallery {
		padding: 0.5rem 1.25rem;
		border-radius: 2.5rem;
		margin-bottom: 12px;
	}
}

.img__machine {
	max-height: 500px;
}

.weapon {
	padding-block: 10px;
}

.increase .decrease {
	@media (max-width: 450px) {
		width: 10px;
	}
}

.wheels {
	background-color: rgba(0, 0, 0, 0.5);
}

.weapon_title {
	background-color: rgba(0, 0, 0, 0.5);
}

.image-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.enlarged-image {
	max-width: 90%;
	max-height: 90%;
	border: 2px solid white; /* Для лучшего визуального эффекта */
}

.directory {
	background-color: #060c14;
	border-radius: 1rem;
	position: absolute;
	opacity: 0;
	@media (max-width: 450px) {
		position: fixed;
	}
}

.directory.show {
	display: block;
	opacity: 1;
}

.button_like_preview {
	left: -60px;
	width: 45px;
	height: 40px;
	background-image: url(../images/like.png);
	background-position: center;
	background-size: cover;
	border: none;
	cursor: pointer;
	@media (max-width: 450px) {
		left: 100px;
		position: absolute;
	}
}

.button_like_preview_active {
	background-image: url(../images/like_active.png);
}

.galleryItem__net {
	width: 20vw;
	cursor: pointer;
	@media (max-width: 450px) {
		width: 100vw;
	}
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: $primary;
	color: white;

	.card__title {
		font-size: 15px;
		min-height: 0px;
	}
	.card__category {
		font-size: 0;
		border-radius: 50%;
		padding: 1rem 1rem;
	}
	.card__price {
		margin: 0px;
	}
	.gallery_marker__image {
		width: 15px;
		left: 1%;
	}
}
