@use 'variables' as *;
@use 'mixins';

.gallery {
	margin-top: 70px;
	max-width: 1500px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	padding-inline: 10px;
	padding-bottom: 10px;

	@media (max-width: 450px) {
		grid-template-columns: repeat(2, 1fr);
		margin-top: 90px;
	}
}
.opacityCatalog {
	opacity: 0.8;
}

.backOriginal {
	background: linear-gradient(rgba(17, 17, 17, 0.6), rgba(0, 0, 0, 0.6)),
		url(../images/Fons/Fon_Gallery.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.backKBF {
	background: linear-gradient(rgba(12, 27, 70, 0.6), rgba(0, 0, 0, 0.6)),
		url(../images/Fons/fon_KBF.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.backAOBF {
	background: linear-gradient(rgba(61, 9, 9, 0.514), rgba(0, 0, 0, 0.6)),
		url(../images/Fons/fon_AOBF.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.gallery__item {
	position: relative;

	.gallery_marker__image {
		position: absolute;
		width: 30px;
		left: -3%;
		top: -3%;
		display: block;
		z-index: 1;

		@media (max-width: 450px) {
			width: 20px;
			left: -2%;
			top: 1%;
		}
	}

	.gallery_marker__title {
		display: none;
		position: absolute;
		left: 15%;
		top: 1%;
		background-color: rgba(0, 0, 0, 0.7);
		color: white;
		padding: 5px;
		font-size: 15px;
		z-index: 2;
	}
	.button_like_preview {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		width: 17px;
		height: 15px;
		left: 70px;
		bottom: 12px;
		background-image: url(../images/like.png);
		background-position: center;
		background-size: cover;
		border: none;
		cursor: pointer;
		position: absolute;
	}
}

.gallery__net {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 60px;
	margin-bottom: 10px;
	@media (max-width: 450px) {
		grid-template-columns: repeat(1, 1fr);
		margin-top: 84px;
		margin-bottom: 0px;
	}
}

.gallery_marker__image:hover + .gallery_marker__title {
	display: block;
}
