@use 'variables' as *;
@use 'mixins';

.gallery {
	margin-top: 70px;
	max-width: 1500px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;

	@media (max-width: 450px) {
		grid-template-columns: repeat(2, 1fr);
		margin-top: 90px;
		padding-inline: 10px;
	}
}
