@use 'variables' as *;
@use 'mixins';

.header {
	position: fixed;
	background-color: $primary;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;

	&__container {
		box-sizing: border-box;
		border-bottom: 0.3px solid rgb(46, 46, 49);
		padding-block: 1px;
		display: grid;
		grid-template-rows: min-content min-content;
		grid-template-columns: min-content min-content min-content min-content;
		align-items: center;
		justify-content: center;
		@media (max-width: 990px) {
			margin: 0px;
			padding-inline: 5px;
		}
		@media (max-width: 450px) {
			grid-template-columns: min-content min-content min-content;
			width: 100%;
			display: grid;
			grid-template-rows: auto 1fr;
			justify-content: center;
		}
	}

	&__logo {
		position: relative;
		height: $headerElementsSize;
		grid-column: 1 / 2;
		justify-self: end;
		&-image {
			display: block;
			height: 95%;
			@media (max-width: 450px) {
				height: 85%;
			}
		}
		@media (max-width: 450px) {
			grid-column: 1;
			grid-row: 1 / 4;
			padding-bottom: 5px;
		}
	}

	&__logo::before {
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		animation: multiColorGlow 3s ease-in-out infinite;
		z-index: 1;

		// Позиционирование
		top: 56%;
		left: 0%;

		@media (max-width: 450px) {
			top: 62%;
		}
	}

	&__basket {
		grid-column: 3 / 4;
		@include mixins.link($primary, $hover);
		background-image: url(../images/basket_logo.svg);
		background-repeat: no-repeat;
		height: 58px;
		width: 58px;
		border: none;
		position: relative;
		cursor: pointer;

		&-counter {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0;
			right: -1rem;
			width: 0.9rem;
			height: 0.9rem;
			font-size: 0.6rem;
			color: white;
			font-weight: 600;
			@media (max-width: 450px) {
				width: 0.7rem;
				height: 0.7rem;
				font-size: 0.6rem;
				right: -0.8rem;
			}
		}
		@media (max-width: 450px) {
			grid-column: 3;
			grid-row: 1 / 3;
			height: 48px;
			width: 48px;
		}
	}

	&_price {
		grid-row: 1 / 2;
		grid-column: 4 / 6;
		min-height: min-content;
		font-size: 16px;
		min-width: 236px;
		box-sizing: border-box;
		@media (max-width: 450px) {
			grid-row: 2 / 3;
			grid-column: 1 / 4;
			margin-top: 12px;
			font-size: 16px;
			text-align: center;
			min-width: 200px;
		}
	}
}

nav {
	margin-inline: 15vw;
	@media (max-width: 450px) {
		grid-column: 2;
		margin-inline: 0px;
	}
}

.category_list {
	position: relative;
	padding: 0;
	margin: 0;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	@media (max-width: 450px) {
		border-bottom: 1px solid rgba(255, 255, 255, 0.459);
		padding-inline: 10px;
	}
}
.category_list li a {
	color: white;
	text-decoration: none;
	align-self: center;
	font-size: 15px;
	padding: 20px 15px;
	transition: background 0.2s linear;
	cursor: pointer;

	@media (max-width: 450px) {
		padding: 14px 4px;
	}
}
.category_list li a:hover {
	background: #2e2e2e;
	border-radius: 3px;
}

.sub-menu {
	position: absolute;
	top: 100%;
	left: 0;
	height: 0;
	overflow: hidden;
	pointer-events: none;
	background-color: $primary;
	list-style: none;
	border-radius: 3px;
	border: 0px solid rgb(46, 46, 49); // 0px, чтобы рамка не торчала при высоте 0
	border-top: none;
	transition: height 0.5s ease, opacity 0.3s ease, border-width 0.1s;
}

.sub-menu.is-active {
	height: 390px;
	pointer-events: all;
	border-width: 0.3px;
	@media (max-width: 450px) {
		height: 320px;
	}
}

.point_Coldun,
.point_Necromancer,
.point_Sorcerer,
.point_GVS,
.point_KBF,
.point_AOBF {
	display: flex;
	align-items: center;
	gap: 3px;
}

.point_Coldun::before {
	content: '';
	background-image: url(../images/Fons/Fon_Coldun.png);
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	display: block;
}

.point_Necromancer::before {
	content: '';
	background-image: url(../images/Fons/Fon_Necromant.png);
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	display: block;
}

.point_Sorcerer::before {
	content: '';
	background-image: url(../images/Fons/Fon_Charodey.png);
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	display: block;
}

.point_GVS::before {
	content: '';
	background-image: url(../images/Fons/Fon_GVS.png);
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	display: block;
}

.point_KBF::before {
	content: '';
	background-image: url(../images/Fons/point_KBF.jpg);
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	width: 23px;
	height: 23px;
	display: block;
}

.point_AOBF::before {
	content: '';
	background-image: url(../images/Fons/point_AOBF.png);
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	display: block;
}
