@use 'variables' as *;
@use 'mixins';

.header {
	position: fixed;
	background-color: $primary;
	top: 0;
	left: 0;
	right: 0;

	&__container {
		box-sizing: border-box;

		padding: 1px 2.4vw 1px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		@media (max-width: 990px) {
			margin: 0px;
			padding-inline: 5px;
		}
		@media (max-width: 450px) {
			width: 100%;
			display: grid;
			grid-template-rows: auto 1fr;
			justify-content: center;
		}
	}

	&__logo {
		height: $headerElementsSize;
	}

	&__logo {
		&-image {
			display: block;
			height: 100%;
		}
		@media (max-width: 450px) {
			grid-column: 1;
			grid-row: 1 / 3;
		}
	}

	&__basket {
		//@include mixins.icon($headerElementsSize, 'basket-2');
		@include mixins.link($primary, $hover);
		background-image: url(../images/swords1.svg);
		background-repeat: no-repeat;
		height: 58px;
		width: 58px;
		border: none;
		position: relative;
		cursor: pointer;

		&-counter {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0;
			right: -0.2rem;
			width: 0.9rem;
			height: 0.9rem;
			font-size: 0.6rem;
			background-color: $category1;
			color: $background;
			border-radius: 100%;
			font-weight: 600;
			@media (max-width: 450px) {
				width: 0.7rem;
				height: 0.7rem;
				font-size: 0.5rem;
			}
		}
		@media (max-width: 450px) {
			grid-column: 3;
			grid-row: 1 / 3;
			height: 45px;
			width: 45px;
		}
	}
}

nav {
	margin-inline: 15vw;
	@media (max-width: 450px) {
		grid-column: 2;
		margin-inline: 0px;
	}
}

.category_list {
	padding: 0;
	margin: 0;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	@media (max-width: 450px) {
		border-bottom: 1px solid rgba(255, 255, 255, 0.705);
	}
}
.category_list li a {
	color: white;
	text-decoration: none;
	align-self: center;
	font-size: 15px;
	padding: 10px 15px;
	transition: background 0.2s linear;
	padding-block: 100%;
	@media (max-width: 450px) {
		padding: 4px;
	}
}
.category_list li a:hover {
	background: #5116d8;
	border-radius: 3px;
}
.category_list li a.Logo {
	margin-right: 240px;
}
.category_list li a:contact Us {
	margin-right: 100px;
}

.footer_price {
	background-color: $primary;
	min-height: min-content;
	font-size: 20px;
	min-width: min-content;
	box-sizing: border-box;
	@media (max-width: 450px) {
		margin-top: 12px;
		font-size: 16px;
		text-align: center;
	}
}
