@use 'variables' as *;
@use 'mixins';

.header {
	//background: linear-gradient(135deg, #3133a3 0%, #feb47b 50%, #ff6b9d 100%);
	position: fixed;
	background-color: $primary;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;

	&__container {
		box-sizing: border-box;
		border-bottom: 0.3px solid rgb(46, 46, 49);
		padding-block: 1px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		@media (max-width: 990px) {
			margin: 0px;
			padding-inline: 5px;
		}
		@media (max-width: 450px) {
			width: 100%;
			display: grid;
			grid-template-rows: auto 1fr;
			justify-content: center;
		}
	}

	&__logo {
		position: relative;
		height: $headerElementsSize;
		&-image {
			display: block;
			height: 95%;
			@media (max-width: 450px) {
				height: 85%;
			}
		}
		@media (max-width: 450px) {
			grid-column: 1;
			grid-row: 1 / 4;
			padding-bottom: 5px;
		}
	}

	&__logo::before {
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		animation: multiColorGlow 3s ease-in-out infinite;
		z-index: 1;

		// Позиционирование
		top: 56%;
		left: 0%;

		@media (max-width: 450px) {
			top: 62%;
		}
	}

	&__basket {
		//@include mixins.icon($headerElementsSize, 'basket-2');
		@include mixins.link($primary, $hover);
		background-image: url(../images/basket_logo.svg);
		background-repeat: no-repeat;
		height: 58px;
		width: 58px;
		border: none;
		position: relative;
		cursor: pointer;

		&-counter {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0;
			right: -1rem;
			width: 0.9rem;
			height: 0.9rem;
			font-size: 0.6rem;
			color: white;
			font-weight: 600;
			@media (max-width: 450px) {
				width: 0.7rem;
				height: 0.7rem;
				font-size: 0.6rem;
				right: -0.8rem;
			}
		}
		@media (max-width: 450px) {
			grid-column: 3;
			grid-row: 1 / 3;
			height: 48px;
			width: 48px;
		}
	}
}

nav {
	margin-inline: 15vw;
	@media (max-width: 450px) {
		grid-column: 2;
		margin-inline: 0px;
	}
}

.category_list {
	padding: 0;
	margin: 0;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	@media (max-width: 450px) {
		border-bottom: 1px solid rgba(255, 255, 255, 0.459);
		padding-inline: 10px;
	}
}
.category_list li a {
	color: white;
	text-decoration: none;
	align-self: center;
	font-size: 15px;
	padding: 20px 15px;
	transition: background 0.2s linear;
	cursor: pointer;

	@media (max-width: 450px) {
		padding: 14px 4px;
	}
}
.category_list li a:hover {
	background: #2e2e2e;
	border-radius: 3px;
}

.header_price {
	background-color: $primary;
	min-height: min-content;
	font-size: 16px;
	min-width: 205px;
	box-sizing: border-box;
	@media (max-width: 450px) {
		margin-top: 12px;
		font-size: 16px;
		text-align: center;
	}
}

.sub-menu {
	display: none;
	position: absolute;
	padding: 10px;
	list-style: none;
	border-radius: 10%;
}

.sub-menu li a {
	position: relative;
	text-decoration: none;
	padding: 6px 2px;
}

.sub-menu li a::after {
	content: ''; /* Создаем линию */
	position: absolute;
	bottom: 7px; /* Размещаем снизу */
	left: 0; /* Начинаем слева */
	width: 0; /* Начальная ширина — 0 (не видно) */
	height: 1px; /* Толщина линии */
	background-color: currentColor; /* Цвет линии как у текста */
	transition: width 0.3s ease; /* Плавная анимация ширины */
}

.sub-menu li a:hover {
	background: none;
}

.sub-menu li a:hover::after {
	width: 100%;
}

.positioning {
	position: relative;
}

.positioning:hover .sub-menu {
	display: block;
	background-color: rgba(21, 23, 25, 0.9);
}
