@use 'variables' as *;
@use 'mixins';

.modal {
	@include mixins.sublayer;
	position: absolute;
	display: none;
	justify-content: center;

	z-index: 100;
	padding-top: 5vh;
	padding-bottom: 5vh;

	@media (max-width: 450px) {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	&_active {
		display: flex;
	}

	&__container {
		@include mixins.container;
		@include mixins.flex(column);
		height: 98vh;
		gap: $defaultPadding;
		border: 0.3px solid rgb(62, 62, 66);
		background-color: $primary;
		min-width: min-content;
		border-radius: 3rem;
		position: fixed;
		top: auto;
		left: 0;
		right: 0;
		top: 4px;
		@media (max-width: 1420px) {
			width: 100vw;

			padding: 5px;
		}
		@media (max-width: 450px) {
			width: 100vw;
			height: 100vh;
			padding: 0px;
			border-radius: 0px;
			top: 0px;
		}

		&_locked {
			position: absolute;

			@media (max-width: 450px) {
				top: 0px;
			}
		}
	}

	&__content {
		box-sizing: content-box;
		overflow-x: hidden;
		height: min-content;
		height: 100%;
	}

	&__title {
		margin: 0;
		font-size: 1.5rem;
		font-weight: 400;
	}

	&__actions {
		margin-top: 20px;
		align-items: center;
		display: flex;
		justify-content: space-between;
		background-color: rgba(0, 0, 0, 0.8);
		width: 90%;
		position: absolute;
		bottom: 2vw;
		@media (max-width: 450px) {
			padding-inline: 4vw;
			padding-block: 1vw;
			margin: 0px;
			position: fixed;
			bottom: 0vw;

			width: 90vw;
		}
	}

	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 4;
		@include mixins.icon(2rem, 'close');
		@include mixins.link(white, $hover);
		@media (max-width: 450px) {
			opacity: 0.85;
			position: fixed;
			top: 7px;
			right: 13px;
			font-size: 1.6rem;
		}
	}

	&__footer {
		@include mixins.flex(row);
		align-items: center;
		gap: 2rem;
	}

	&__message {
		white-space: nowrap;
		max-width: 60%;
		text-overflow: ellipsis;
		overflow: hidden;

		&_error {
			color: $error;
		}
	}
}

.activeMin {
	height: min-content;
	overflow-x: visible;
}
