.search {
	display: none;
	position: fixed;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
		url(../images/Fons/Fon_Card.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 3;
	@media (max-width: 450px) {
		padding-top: 80px;
		padding-bottom: 10px;
	}
}

.search__input::placeholder {
	font-size: 12px;
	padding: 3px 5px;
	border-radius: 3px;
	opacity: 1;
}

.search__input:focus {
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search.active {
	display: flex;
}

.search__input {
	width: 400px;
	transition: border-color 0.3s ease, box-shadow 0.3s ease;
	border-radius: 25px;
	background-color: #fff;
	color: #333;
	font-size: 15px;
	@media (max-width: 450px) {
		width: 100vw;
	}
}

.highlight {
	background-color: yellow;
	font-weight: bold;
}
