@use 'variables' as *;

html,
body.page {
	height: 100%;
	font-family: $font;
	font-size: $baseFontSize;
	color: $baseFontColor;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.page__wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	position: static; /* По умолчанию */
	top: auto;
	left: auto;

	&_locked {
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		top: 0;
		left: 0;
	}
}

.page {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(../images/Fons/new_year.jpg);
	background-size: cover;
	background-position: center;
}
