.rating {
	box-sizing: content-box;
	flex-grow: 1;
	overflow-y: auto;
	max-height: 100%;

	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		background: rgba(0, 0, 0, 0.3);
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(255, 255, 255, 0.4);
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: rgba(255, 255, 255, 0.6);
	}
	@media (max-width: 900px) {
		width: 100vw;
	}
}

.rating ul {
	margin-bottom: 0px;
}

.rating__list {
	@media (max-width: 450px) {
		margin-top: 85px;
	}
}

.rating__title {
	background-color: #000000;
	display: grid;
	grid-template-columns: 1.2fr 2fr 2fr 2fr 2fr 2fr;
	font-size: 15px;
	list-style: none;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
	text-align: center;
	z-index: 3;
	border-bottom: 2px solid rgba(255, 255, 255, 0.459);
	@media (max-width: 600px) {
		font-size: 12px;
	}
	@media (max-width: 450px) {
		position: fixed;

		top: 0vh;
		margin: 0px;
		padding-top: 50px;
		font-size: 10px;
		padding-inline: 3px;
		box-sizing: border-box;
	}
}

.rating__title li h3 {
	margin: 0px 0px 8px 0px;
	@media (max-width: 450px) {
	}
}

.rating__title li {
	padding-inline: 3px;
	box-sizing: border-box;
	align-self: end;
}

.rating__item {
	display: grid;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
		url(../images/Fons/Fon_Rating.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	grid-template-columns: 1.2fr 2fr 2fr 2.4fr 2fr 2fr;
	height: 120px;
	font-size: 15px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.459);
	align-items: center;
	justify-items: center;
	text-align: center;
	list-style: none;
	@media (max-width: 600px) {
		font-size: 12px;
	}
	@media (max-width: 450px) {
		font-size: 10px;
		height: 90px;
	}
}

.rating__image {
	width: 100px;
	aspect-ratio: 1/1;

	@media (max-width: 450px) {
		width: 70px;
	}
}

.rating__image-conteiner {
	position: relative;
}

.rating__image {
	border: 6px solid transparent;
	border-image: url(../images/Fons/fling.png) 30% stretch;
}

.rating__achievements {
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, auto);
	align-items: end;
	@media (max-width: 450px) {
		grid-template-columns: repeat(3, min-content);
		max-width: 81px;
		height: 72px;
		position: static;
		overflow-x: auto;
	}
}

.rating__achievement {
	align-self: center;
}

.rating__achievements_title {
	display: none;
	position: absolute;
	max-width: 90px;
	color: black;
	background-image: url(../images/Fons/svitok.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-image: url(../images/Fons/svitok.png) 30% stretch;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
	padding: 12px;
	aspect-ratio: 2/1;
	font-size: 14px;
	z-index: 3;
	@media (max-width: 450px) {
		font-size: 10px;
	}
}

.rating__achievements_image:hover + .rating__achievements_title {
	display: block;
}

@media (min-width: 450px) {
	.rating__achievements_image:hover {
		transform: scale(1.6);
		z-index: 2;
	}
}

.rating__achievements_image {
	max-width: 39px;
	padding: 1px;
	transition: transform 0.3s ease;
	@media (max-width: 551px) {
		max-width: 30px;
	}
	@media (max-width: 450px) {
		max-width: 25px;
	}
}

.rating__memo_conteiner {
	margin-top: 20px;
	padding-inline: 10px;
	text-align: left;

	border-radius: 1rem;
}

.rating__name {
	padding-inline: 3px;
}

.rating__memo {
	font-size: 15px;

	margin: 0;
	padding: 5px;
}

.rating__link {
	text-decoration: none;
	color: rgb(44, 149, 235);
}
.rating__link:hover {
	text-decoration: underline;
}

// Ранги

.rating__win {
	position: relative;
	margin-top: 60px;
	@media (max-width: 450px) {
		margin-top: 42px;
	}
}

.rating__item .rating__win::after {
	content: '';
	position: absolute;
	right: -15px;
	bottom: 25px;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 2;
	width: 200%;
	aspect-ratio: 1/1;
	@media (max-width: 450px) {
		right: -10px;
		bottom: 20px;
	}
}

.rating__item:nth-child(1) .rating__win::after {
	background-image: url(../images/rang-lion.png);
}

.rating__item:nth-child(2) .rating__win::after {
	background-image: url(../images/rang-eliphant.png);
}

.rating__item:nth-child(3) .rating__win::after {
	background-image: url(../images/rang-bull.png);
}

.rating__item:nth-child(4) .rating__win::after {
	background-image: url(../images/rang-swords.png);
}

.rating__item:nth-child(5) .rating__win::after {
	background-image: url(../images/rang-sword.png);
}

.rating__item:nth-child(6) .rating__win::after {
	background-image: url(../images/rang-scull.png);
}

.rating__item:nth-child(7) .rating__win::after {
	background-image: url(../images/rang-cross.png);
}

.rating__item:nth-child(8) .rating__win::after {
	background-image: url(../images/rang-star.png);
}

.rating__item:nth-child(9) .rating__win::after {
	background-image: url(../images/rang-cross_small.png);
}

.rating__item:nth-child(11) .rating__win::after {
	background-image: url(../images/rang-star_small.png);
}

.rating__item:nth-child(10) .rating__win::after {
	background-image: url(../images/rang-bird.png);
}

.rating__item:nth-child(12) .rating__win::after {
	background-image: url(../images/rang-star_fat.png);
}

.rating__item:nth-child(13) .rating__win::after {
	background-image: url(../images/rang-star_fat_three.png);
}

.rating__item:nth-child(14) .rating__win::after {
	background-image: url(../images/rang-star_fat_two.png);
}

.rating__item:nth-child(15) .rating__win::after {
	background-image: url(../images/rang-rhombus.png);
}

.rating__item:nth-child(16) .rating__win::after {
	background-image: url(../images/rang-rhombus_three.png);
}

.rating__item:nth-child(17) .rating__win::after {
	background-image: url(../images/rang-rhombus_two.png);
}

.rating__item:nth-child(18) .rating__win::after {
	background-image: url(../images/rang-shield.png);
}
.rating__item:nth-child(19) .rating__win::after {
	background-image: url(../images/rang-shield_three-strip.png);
}

.rating__item:nth-child(20) .rating__win::after {
	background-image: url(../images/rang-shield_two-strip.png);
}

.rating__item:nth-child(21) .rating__win::after {
	background-image: url(../images/rang-shield_strip.png);
}

.rating__item:nth-child(22) .rating__win::after {
	background-image: url(../images/rang-shield_two.png);
}
