h3,
h1 {
	text-align: center;
	margin: 0px;
}

ul {
	padding: 0px;
}

.tournament-item {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 25px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.459);
	@media (max-width: 450px) {
		width: 100vw;
		gap: 15px;
		margin-bottom: 0px;
	}
}

.tournament__name {
	@media (max-width: 450px) {
		font-size: 30px;
		margin-top: 50px;
	}
}

.tournament__day {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
		url(../images/Fons/Fon_Tournament.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: center;
	display: grid;
	grid-template-columns: max-content max-content;
	grid-template-rows: max-content max-content;
	gap: 40px;
	@media (max-width: 450px) {
		box-sizing: content-box;
		overflow-y: auto;
		gap: 15px;

		justify-content: flex-start;
	}
}

.tournament__day_title {
	grid-row: 1 / 1;
	grid-column: 1 / 3;
	text-align: center;
	margin: 0px;
	background-color: rgb(155, 156, 156);
	@media (max-width: 450px) {
		font-size: 25px;
		position: absolute;

		width: 100vw;
	}
}

.tournament__item {
	list-style: none;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid rgba(255, 255, 255, 0.459);
	gap: 10px;

	.tournament__result {
		border-radius: 0rem;
		border-top-left-radius: 0.2rem;
		border-top-right-radius: 0.2rem;
		padding-top: 3px;
	}
}

.tournament__players {
	grid-row: 2 / 2;
	grid-column: 1 / 2;
	display: flex;
	flex-direction: column;

	@media (max-width: 450px) {
		margin-top: 40px;
		padding-inline: 20px;
		gap: 10px;
	}
}

.tournament__players_title {
	display: flex;
	justify-content: space-between;

	height: 36px;
	span {
		width: 40px;
		font-size: 12px;
	}
}

.tournament__list {
	display: grid;
	gap: 10px;
	@media (max-width: 450px) {
		font-size: 10px;
	}
}

.tournament__player {
	cursor: pointer;
	font-size: 15px;
	align-self: end;
}

.tournament__result {
	text-align: center;
	background-color: grey;
	border-radius: 0.2rem;
	width: 50px;
	@media (max-width: 450px) {
		width: 30px;

		font-size: 12px;
	}
}

.tours {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	display: flex;
	gap: 20px;
	@media (max-width: 450px) {
		margin-top: 40px;
		gap: 10px;
		padding-right: 20px;
	}
}

.tournament__tour {
	display: grid;
	height: min-content;
	gap: 10px;
}

.tournament__title {
	text-align: center;
	align-self: start;
}

.tournament__game {
	display: grid;
}

.tournament_conteiner {
	display: flex;
	margin-bottom: 20px;

	border-bottom-left-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
	@media (max-width: 450px) {
		font-size: 10px;
	}
}

.tournament_conteiner:nth-child(odd) {
	margin-bottom: 1px;
	border-bottom-left-radius: 0rem;
	border-bottom-right-radius: 0rem;
	border-top-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;
}

.tournament_conteiner {
	display: flex;
	width: 200px;
	justify-content: space-between;
	background-color: grey;
	@media (max-width: 450px) {
		font-size: 10px;
	}
	.tournament__player,
	.tournament__result {
		border: none;
		font-size: 14px;
		padding-inline: 2.5px;
		padding-block: 6px;
	}

	.tournament__result {
		font-size: 15px;
	}
	.tournament__result {
		border-inline-start: 2px solid rgba(0, 0, 0, 0.459);
	}
}
