h3,
h1 {
	text-align: center;
	margin: 0px;
}

.tournament {
	display: flex;
	flex-direction: column;
	gap: 20px;
	@media (max-width: 450px) {
		width: 100vw;
		gap: 15px;
	}
}

.tournament__name {
	@media (max-width: 450px) {
		font-size: 30px;
		margin-top: 10px;
	}
}

.tournament__day {
	justify-content: center;
	display: grid;
	grid-template-columns: max-content max-content;
	grid-template-rows: max-content max-content;
	gap: 40px;
	@media (max-width: 450px) {
		box-sizing: content-box;
		overflow-y: auto;
		gap: 15px;
		padding-inline: 20px;
		justify-content: flex-start;
	}
}

.tournament__day_title {
	grid-row: 1 / 1;
	grid-column: 1 / 3;
	text-align: center;
	margin: 0px;
	background-color: rgb(156, 155, 155);
	padding-inline: auto;
	@media (max-width: 450px) {
		font-size: 25px;
		position: absolute;

		width: 90vw;
	}
}

.tournament__players {
	grid-row: 2 / 2;
	grid-column: 1 / 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
	@media (max-width: 450px) {
		margin-top: 40px;
	}
}

.tournament__players_title {
	display: flex;
	justify-content: center;
	gap: 20px;
	height: 36px;
	span {
		width: 40px;
		font-size: 12px;
	}
}

.tournament__list_one,
.tournament__list_two {
	list-style: none;
	display: grid;
	grid-template-columns: max-content max-content;
	gap: 10px;
	@media (max-width: 450px) {
		font-size: 10px;
	}
}

.tournament__player {
	cursor: pointer;
	font-size: 15px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.459);
}

.tournament__results {
	text-align: center;
	background-color: grey;
	border-radius: 0.2rem;
	width: 50px;
	@media (max-width: 450px) {
		width: 40px;
		text-align: center;
		padding-top: 4px;
		font-size: 12px;
	}
}

.tours {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	display: flex;
	gap: 20px;
	@media (max-width: 450px) {
		margin-top: 40px;
		gap: 10px;
	}
}

.tournament__tour {
	display: grid;
	grid-template-columns: max-content;
	gap: 10px;
}

.tournament__title {
	text-align: center;
}

.tournament__game div {
	margin-bottom: 20px;
	border-bottom-left-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
	@media (max-width: 450px) {
		font-size: 10px;
	}
}

//Нечетные
.tournament__game div:nth-child(odd) {
	margin-bottom: 1px;
	border-bottom-left-radius: 0rem;
	border-bottom-right-radius: 0rem;
	border-top-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;
}

.tournament_conteiner {
	display: flex;
	width: 200px;
	justify-content: space-between;
	background-color: grey;
	@media (max-width: 450px) {
		font-size: 10px;
	}
	.tournament__player,
	.tournament__result {
		border: none;

		padding-inline: 4px;
		padding-block: 6px;
	}
	.tournament__result {
		border-inline-start: 2px solid rgba(0, 0, 0, 0.459);
	}
}

.tournament__result {
	text-align: center;
	background-color: grey;
	border-radius: 0.2rem;
	width: 50px;
	@media (max-width: 450px) {
		width: 30px;

		font-size: 12px;
	}
}
