$primary: #060c14;
$secondary: white;
$background: #0f2137;
$primaryLight: #1e334f;
$hover: #5f8cc7;
$error: #f18b7e;

$font: 'YS Text', Roboto, Helvetica, Arial, sans-serif;
$titleFont: 'Garamond', sans-serif;
$fontMono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$baseFontSize: 20px;
$baseFontColor: white;
$baseFontColorLight: black;

$category1: #0da36a;
$category2: #c2a502;
$category3: #c06802;
$category4: #90e1fc;
$category5: #6a2dbb;
$category6: #807f7f;
$category7: #aa4242;
$category8: #00c3ff;
$category9: #501e22;
$category10: #20188b;
$category11: #512a01;
$category12: #39006a;
$category13: #8d1a55;

$mainFontSize: 1.5em;
$titleFontSize: 2.5em;
$headerElementsSize: 2.7rem;
$headerHeight: 3rem;

$maxPageWidth: 1320px;
$defaultPadding: 2.4rem;

$defaultBorderRadius: 3rem;
$defaultBorder: 2px solid $primaryLight;
$hoverBorder: 2px solid white;
$overlayBackground: rgba(0, 0, 0, 0.8);
